@font-face {
  font-family: Merriweather;
  src: url("./static/fonts/Merriweather/Merriweather-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html {
  --bgPlayer0: "";
  --bgPlayer1: "";
}

body {
  overflow: hidden;
  min-width: 1030px;
  min-height: 80px;
  background: transparent;
}

p,
h2,
li,
input,
label {
  font-family: sans-serif;
  color: #eee;
}

input::placeholder {
  font-family: sans-serif;
  color: rgba(238, 238, 238, 0.8);
}
